.App {
  margin:3em auto;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App h1 {
  font-size:3em;
  font-weight: 900;
}

select {
  max-width:80%;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1em;
  font-weight: 700;
  margin-bottom:2em;
  padding: .5em 1em;
}

input {
  padding: .5em 1em;
}

label {
  font-weight: 700;
  font-size:1em;
}